<div id="send" class="row">
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" >
	    Choose Interface
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
	  </ul>
	</div>
	<br />
	<div class="btn-group btn-group-default" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">Create</button>
	  <button type="button" class="btn btn-default">Set</button>
	  <button type="button" class="btn btn-default">Get</button>
	  <button type="button" class="btn btn-default">Delete</button>
	</div>
	<div class="form-group">
	    <label for="attra">Attr A</label>
	    <input type="text" class="form-control" id="attra" placeholder="Attribute A">
	    <label for="attrb">Attr B</label>
	    <input type="text" class="form-control" id="attrb" placeholder="Attribute B">
	    <hr />
	    <label for="attrc" class="horizon-margin">Attr C</label>
	    <input type="text" class="form-control horizon-margin" id="attrc" placeholder="Attribute C">
	    <label for="attrd" class="horizon-margin">Attr D</label>
	    <input type="text" class="form-control horizon-margin" id="attrd" placeholder="Attribute D">
	    <hr />
  </div>
  <button type="submit" class="btn btn-default send">Submit</button>
</div>